<div class="flipContainer">
  <div class="flipInner">
    
    <div id="flipFront">
      <div id="page-one">
        <p id="startup-loading" class="accessible-fallback">Loading…</p>
        <div id="donation-container"></div>
        <div id="about-container"></div>
      </div>
    </div>
    
    <div id="flipBack">
      <div id="page-two">
        <div id="search-container"></div>
        <div id="playlist-container"></div>
      </div>
    </div>

  </div>
</div>