<div id="page=one" class="page about-page">
  <a href="/" class="close" title="Close song selector">X</a>
  <div class="panel">
    <div class="inner">

      <h1>What's going on?</h1>

    <h2>Like a marathon virgin. Running for the very first time.<br />And on a mission to kick HIV's ass.</h2>

    <p>How did I convince myself I could do the London Marathon? Sadly, I recently experienced HIV amongst friends closest to my heart. For some amazing reason, and with the precious help of health centres, one of them came out of this scare 100% healthy. It's impossible to explain how relieved I felt. Unfortunately it's not the case for everybody. Thousands of people are living with HIV and today I know that there are ways to help.</p>

    <p>So I decided it was time to get off my ass and do something. On the 21st of April, and with the help of your fine choice of tunes – and your cash – I'll be running to support the <a href="http://www.tht.org.uk/" target="_blank">Terrence Higgins Trust</a>. For the last 30 years, they've been doing an awesome job of helping people with HIV live healthy lives, free from prejudice and discrimination. And raising awareness about good sexual health too.</p>

    <img src="/images/logo-tht.png" alt="Terrence Higgins Trust" class="trustImg" />

    <p>Now I just need your help to stagger over the finish line.</p>

    <p>Toodles, Badonna x</p>

    <a href="/addsong" class="cta-donate">Give your cash to add your pumpin' track</a>

    </div>
  </div>
</div>
<div class="aboutpose"><!-- PULL SHAPES! --></div>