<div id="page-one" class="home-page">
<div class="welcome clearfix">
	<img src="/images/logo-badonna.png" alt="Badonnathon">
	<div class="strap">
	  
	  <span class="money4trax loginHere" style="display: none;"></span>
	  <span class="nologinHere"><a class="addsong" href="/addsong">Add your track &amp; help kick HIV's ass</a></span>

	  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.badonnathon.com&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=374956165952121" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
	</div>
</div>

<div class="donation">
  <div class="inner">  
  <span class="money4trax loginHere" style="display: none;"></span>
  <span class="nologinHere"><a href="/addsong" class="money4trax">Give your cash to add your pumpin' track</a></span>

  <span class="donation-intro">Big up you've raised</span>
  <span class="donation-total">&pound;<span></span></span>
  <span class="donation-meter"><span></span></span>
  <a href="/about" class="donation-charity">for the Terrence Higgins Trust</a>
</div>
</div>

<div class="player">
<div class="inner">
  <h3 class="mainHeading"><a href="/marathonmix" class="playlist">Check out the marathon mix</a></h3>
    <div class="latestSong">
    </div>
</div>
<span class="border"></span>
</div>

<div class="also">
<h3>also available on</h3>
<p>
  <a href="http://facebook.com/badonnathon" target="_blank" class="fb-icon"><span>facebook</span></a>
  <a href="http://twitter.com/thebadonnathon" target="_blank" class="tw-icon"><span>twitter</span></a>
  <a href="http://play.spotify.com" target="_blank" class="sp-icon"><span>spotify</span></a>
</p>
</div>
</div>