<div id="page-one" class="playlist-page">
  <a href="/" class="close" title="Close playlist">X</a>
  <div class="panel listen">
    <div class="inner">

        <h1>The marathon mix</h1>

        <div id="listen"></div>

    </div>
  </div>
</div>