<div id="page-one" class="page about-page">
  <a href="/" class="close" title="Close song selector">X</a>
  <div class="panel">
    <div class="inner">

      <h1>Thanks</h1>

      <p>We've added your song to the playlist</p>

      <p><a href="https://uk.virginmoneygiving.com/fundraiser-web/donate/makeDonationForFundraiserDisplay.action?fundraiserActivityId=280684" target="_blank" class="cta-donate">Now please give your cash!</a></p>

      <p>I'll be running to support the <a href="http://www.tht.org.uk/">Terrence Higgins Trust</a>. For the last 30 years, they've been doing an awesome job of helping people with HIV live healthy lives, free from prejudice and discrimination. And raising awareness about good sexual health too.</p>

      <img src="/images/logo-tht.png" alt="Terrence Higgins Trust">

      <p><a href="https://uk.virginmoneygiving.com/fundraiser-web/donate/makeDonationForFundraiserDisplay.action?fundraiserActivityId=280684" target="_blank" class="cta-donate">Click here to donate!</a></p>

      <p>Toodles, Badonna x</p>

    </div>
  </div>
</div>