article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

h1, h2, h3 {
  margin: 0;
}


body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a {
  color: inherit;
}

body {
  background: #4fd9a9 url(/images/bg-gradient.png) no-repeat 0 0;
  background-size: 100% 100%;
  position: relative;
}


/******/
.page {
  position: relative;
  z-index: 2;
}

#page-one {
  z-index: 1;
}

.playlist-page {
  background: url(/images/bg-donation.jpg) no-repeat 50% 0;
}

.about-page {
  background: url(/images/bg-about.jpg) no-repeat 50% 0;
}

.close {
  background: url(/images/icon-close.png) no-repeat 0 0;
  position: absolute;
  top: 20px;
  right: 20px;
  overflow: hidden;
  text-indent: -9999em;
  width: 72px;
  height: 72px;
}

.close:focus,
.close:hover {
  background-position: 0 100%;
}

.mainHeading {
  color: #fc609d;
  margin-bottom: 7px;
  font-size: 1.2em;
}

a.playlist:after {
  display: block;
  float: right;
  content: "";
  width: 19px;
  height: 18px;
  background: transparent url(/images/cta.png) no-repeat;
}

.panel {
  background: #fff;
  background: rgba(255, 255, 255, .9);
  box-shadow: 3px 3px 0 0 rgb(252, 96, 157);
  font-family: "futura-pt";
  font-weight: 500;
  font-size: 1.1em;
  margin: 0 auto 0;
  max-width: 780px;
  position: relative;
  top: 102px;
}

.panel .inner,
.panel .playlist .inner {
  padding: 3em 2em 1.5em;
}

.panel h1 {
  background: #4edaa9;
  background: rgb(78,218,169);
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0 .5em;
  position: absolute;
  top: -1em;
  left: 0;
  text-transform: uppercase;
  -webkit-transform: matrix(1, -0.175, 0, 1, 0, 0);
  transform: matrix(1, -0.175, 0, 1, 0, 0);
}

.panel h2 {
  font-size: 1.846em;
  font-weight: normal;
}

.panel p {
  color: #333;
  font-size: 1.4em;
}

.panel p a {
  color: rgb(252,96,157);
}

.panel p a:focus,
.panel p a:hover {
  color: rgb(68,42,141);
}

.welcome {
  margin: 0 auto 0;
  position: relative;
  font-family: "futura-pt";
  font-weight: 500;
  z-index: 3;
}

.welcome > img {
  height: auto;
  width: 100%;
}

.welcome a {
  background: #4edaa9;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.5;
  padding: 0 .5em;
  text-transform: uppercase;
}

.welcome a:focus,
.welcome a:hover {
  background: #442a8d;
  color: #fff;
}

.welcome .strap {
  -webkit-transform: matrix(1, -0.175, 0, 1, 0, 0);
  transform: matrix(1, -0.175, 0, 1, 0, 0);
  margin-top: -15px;
}

.donation {
  background: rgb(255,255,255);
  box-shadow: 3px 3px 0 0 rgb(252, 96, 157);
  z-index: 3;
}

.donation .inner,
.player .inner,
.playlist .inner {
  padding: 14px;
  position: relative;
  z-index: 2;
}

.donation .border,
.player .border {
  background: #fc609d;
  z-index: 1;
}

.donation .money4trax {
  border-bottom: 3px solid #fecfe1;
  color: #fc609d;
  display: block;
  font-size: 1.846em;
  margin: 0 0 .5em;
  padding: 0 0 .5em;
  text-transform: uppercase;
  text-decoration: none;
}

.donation .money4trax:focus,
.donation .money4trax:hover {
  color: #442a8d;
}

.cta-donate:after,
.cta-give:after,
.donation .money4trax:after,
.player .playlist:after {
  background: url(/images/icon-triangle.png) no-repeat 0 0;
  content: '';
  display: inline-block;
  height: 18px;
  margin: 0 0 0 4px;
  width: 19px;
}

.cta-donate:focus:after,
.cta-donate:hover:after,
.cta-give:focus:after,
.cta-give:hover:after,
.donation .money4trax:focus:after,
.donation .money4trax:hover:after,
.player .playlist:focus:after,
.player .playlist:hover:after {
  background-position: 0 -18px;
}

#playlist,
#results {
  height: 320px;
  overflow-y: scroll;
}

.donation a,
.donation span {
  line-height: 1.2;
}

.donation a,
.donation span {
  line-height: 1.2;
}

.donation .donation-intro,
.donation .donation-total {
  color: #4edaa9;
  display: block;
}

.donation .donation-intro {
  font-size: 1.385em;
  text-transform: uppercase;
}

.donation .donation-total {
  font-size: 2.923em;
}

.donation .donation-meter {
  background: url(/images/donation-meter-target.gif) repeat-x 0 0;
  display: block;
  height: 20px;
  margin: 0 0 .5em;
  width: 99%;
}

.donation-meter span {
  height: 20px;
  display: block;
  background: url(/images/donation-meter-target-dark.gif);
  width: 0;
}

.donation .donation-charity {
  color: #fc609d;
  font-size: 1.154em;
  text-decoration: underline;
}

.donation .donation-charity:focus,
.donation .donation-charity:hover {
  color: #442a8d;
}




/*****/

.songs {
  margin: 0 auto 0;
  position: relative;
  width: 50%;
  
  font-family: "futura-pt";
  font-weight: 500;
}

.playlistpose,
.aboutpose {
  background: url(/images/bg-playlist.jpg) no-repeat 50% 0;
  background-size: cover;
  bottom: 10px;
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.cta-donate {
  color: rgb(252,96,157);
  font-size: 2em;
  text-transform: uppercase;
}

.cta-donate:focus,
.cta-donate:hover {
  color: rgb(68,42,141);
}
/******/





/******/

.player {
  font-family: "futura-pt";
  font-weight: 500;
  font-size: 1.1em;
  background: #fef200;
}

.player .inner {
  background: #fef200;
  text-transform: uppercase;
}

.player .border {
  background: #4edaa9;
}

.player .latestSong {
  background: #fff;
  padding: 0;
}

.player .playlist {
  display: block;
  margin-bottom: .5em;
  font-size: 1.1em;
}

.player .playlist:focus,
.player .playlist:hover {
  color: #442a8d;
}

/******/

.also {
  background: yellow;
  border-radius: 100px;
  padding: 25px;
  padding-top: 37px;
  text-align: center;
  color: #4edaa9;
  text-transform: uppercase;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  box-shadow: 4px 4px 0 0 rgb(78, 218, 169);
  transform:rotate(15deg);
  -ms-transform:rotate(15deg); /* IE 9 */
  -moz-transform:rotate(15deg); /* Firefox */
  -webkit-transform:rotate(15deg); /* Safari and Chrome */
  -o-transform:rotate(15deg); /* Opera */
  z-index: 3;
}

.also a {
  width: 22px;
  height: 21px;
  display: inline-block;
}

.also a span {
  display: none;
}

.fb-icon {
  background: url(/images/fb-icon.png);
}

.tw-icon {
  background: url(/images/tw-icon.png);
}

.sp-icon {
  background: url(/images/sp-icon.png);
}
/*******/


.playlist li:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}

p.playlistTitle {
  color: #fff;
  background-color: #4edaa9;
  display: inline-block;
  -webkit-transform: matrix(1, -0.175, 0, 1, 0, 0);
  font-size: 1.6em;
  margin: 20px 0 0 0;
  padding: 10px;
  z-index:100;
}

.playlist .border {
  background: red;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 3px;
  top: 3px;
}

.search {
  display: none;
}

.playlist .search-spotify {
  border-bottom: 1px solid rgb(78,218,169);
  margin: 0 0 1em;
  position: relative;
}

.playlist .search-spotify input[type="submit"] {
  background: url(/images/icon-search.png) no-repeat 0 0;
  border: 0;
  float: right;
  height: 35px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-indent: 100%;
  white-space: nowrap;
  width: 35px;
}

.playlist .search-spotify input[type="submit"]:focus,
.playlist .search-spotify input[type="submit"]:hover {
  background-position: 100% 0;
}

.playlist .search-spotify input[type="text"] {
  background: transparent;
  border: 0;
  color: rgb(51,51,51);
  float: left;
  font-family: "futura-pt";
  font-size: 2em;
  line-height: 1.5;
  margin: 0;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  width: 680px;
}

.playlist ul {
  color: rgb(252,96,157);
  font-family: "futura-pt";
  font-size: 1.5em;
  margin: 0 0 2em;
  padding: 0;
}

.playlist ul li {
  border-bottom: 1px solid rgb(78,218,169);
  cursor: pointer;
  list-style: none;
  padding: .25em .5em;
}

.playlist ul li input[type="radio"] {
  display: none;
}

.playlist ul li:hover,
.playlist ul .selected {
  background: rgb(68,42,141);
  color: rgb(255,255,255);
}

.playlist-mix ul li {
  cursor: auto;
}

.playlist-mix ul li:hover {
  background: transparent;
  color: rgb(51,51,51);
}

.playlist ul .track-name {
  float: left;
  text-transform: uppercase;
  width: 60%;
}

.playlist ul .track-artist,
.playlist ul .track-from {
  float: right;
  text-transform: inherit;
}

.playlist .cta-give {
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.playlist ul form {
  clear: both;
}

.playlist-mix ul {
  color: rgb(51,51,51);
}

/* about */
.aboutpose {
  background-image: url(/images/bg-about.jpg);
}

.trustImg {
  float: right;
}
/* end about */

#sidebar,
#login {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}

#login {
  left: 100px;
}

.loginHere {
  cursor: pointer;
}

#wrapper {
  padding: 6px;
}

#page-one {
  padding: 100px 12px 0;
}

.home-page {
  background: url(/images/bg-home-mobi.jpg) no-repeat 50% 0;
}

@media screen and (min-width: 30.063em) {
  html,
  body {
    height: 100%;
  }

  #wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .page {
    height: 100%;
  }  

  #page-one {
    bottom: 10px;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    background-size: cover;
  }

  .home-page {
    background: url(/images/bg-home.jpg) no-repeat 50% 0;
  }

  .welcome {
    top: 280px;
    width: 50%;
  }

  .welcome .strap {
    margin-top: -30px;
  }

  .welcome a {
    font-size: 2.154em;
  }

  .donation {
    position: absolute;
    left: 25px;
    top: 25px;
    width: 240px;
  }

  .player {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 328px;
  }

  .player .border,
  .donation .border {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 3px;
    top: 3px;
  }

  .also {
  width: 155px;
  height: 155px;
  position: absolute;
  right: 30px;
  top: 30px;
  }
}