<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <meta property="og:image"            content="http://www.badonnathon.com/images/benosan.jpg">
  <meta property="og:image:type"       content="image/jpg">
  <meta property="og:image:width"      content="256">
  <meta property="og:image:height"     content="256">

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script type="text/javascript">
    window._rails_env = {
      facebookAppId: "<%= @fbid %>"
    }
  </script>
</head>

<body>
  
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <!-- ***** -->
  <!-- THIS IS WHERE OUR VIEWS GO -->
  <div id="wrapper">
      
      <div id="page-one" class="home-page">
<div class="welcome clearfix">
  <img src="/images/logo-badonna.png" alt="Badonnathon">
  <div class="strap">
    
    <span class="money4trax loginHere" style="display: none;"></span>
    <span class="nologinHere"><a class="addsong" href="https://uk.virginmoneygiving.com/fundraiser-web/donate/makeDonationForFundraiserDisplay.action?fundraiserActivityId=280684">Please donate & help kick HIV's ass</a></span>

    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.badonnathon.com&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=374956165952121" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
  </div>
</div>

<div class="also">
<h3>also available on</h3>
<p>
  <a href="http://facebook.com/badonnathon" target="_blank" class="fb-icon"><span>facebook</span></a>
  <a href="http://twitter.com/thebadonnathon" target="_blank" class="tw-icon"><span>twitter</span></a>
  <a href="http://play.spotify.com" target="_blank" class="sp-icon"><span>spotify</span></a>
</p>
</div>
</div>

      <%= yield %>

  </div>
  <!-- ***** -->

  <script type="text/javascript" src="//use.typekit.net/kbs4eab.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- all scripts at bottom -->
  <%= requirejs_include_tag 'application' %>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>